<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="/webjars/jquery/3.3.1-2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>환율 계산기</title>
</head>
<body class="ui grid" style="margin: 30px">

<div class="container-fluid">
    <div>
        <fieldset>
            <legend>환율 계산</legend>
            <div class="fromdiv">
                <label for="from"><b>송금 국가: </b></label>
                <select id="from">
                    <option selected value="USD">미국(USD)</option>
                </select>
            </div>
            <div class="todiv">
                <label for="to"><b>수취 국가: </b></label>
                <select id="to">
                    <option selected value="KRW">한국(KRW)</option>
                    <option value="JPY">일본(JPN)</option>
                    <option value="PHP">필리핀(PHP)</option>
                </select>
            </div>

            <div class="currencydiv">
                <label><b>환율</b></label>
                <div class="currencyfield">
                    <span id="currency"></span>
                </div>
            </div>

            <div class="amountdiv">
                <label for="amount"><b>송금액: </b></label>
                <input type="text" id="amount" style="width: 240px;" placeholder=""> <b>USD</b></input>
            </div>
            <div id="inputCheckResult">
            </div>
            <div>
                <button class="btn btn-dark" onclick="getExchangedAmount()">환전하기</button>
            </div>

        </fieldset>
    </div>
</div>

</div>
</body>
<script>
    $(document).ready(function () {
        getCurrencyRate();
    });
    $('select').on('change', function () {
        getCurrencyRate();
    });

    function getCurrencyRate() {
        var from = $('#from').val();
        var to = $('#to').val();
        console.log(from);
        console.log(to);
        var amount = document.getElementById("amount").defaultValue = 0.0;
        $.ajax({
            url: "/api/exchangerate?from=" + from + "&to=" + to + "&amount=" + amount,
            type: 'get',
            success: function (data) {
                console.log(data);

                $('#currency').text(data + " " + from + "/" + to);
            },
            error: function (err) {
                console.log(err);
            }

        })
    }

    function getExchangedAmount() {
        var from = $('#from').val();
        var to = $('#to').val();
        var amount =$('#amount').val();

        if (wrongInput()) {
            $('#inputCheckResult').html("<div style='color: #ff6666;'><p>송금액을 확인해주세요.</p></div>");
            return;
        }
        console.log(from);
        console.log(to);
        console.log(amount);
        $.ajax({
            url: "/api/exchangedamount?from=" + from + "&to=" + to + "&amount=" + amount,
            type: 'get',
            success: function (data) {
                console.log(data);
                $('#currency').text(data.currency + " " + from + "/" + to);
                $('#inputCheckResult').html("<div style='color: forestgreen;'><p>"+data.stringAmount+ " " + to + "을/를 받으실 수 있습니다.</p></div>");
            },
            error: function (err) {
                console.log(err);
            }

        })

        function wrongInput() {
            var amount = $('#amount').val();
            var reg = /[-+]?[0-9]*\.?[0-9]+/;
            if(reg.test(amount)==false){
               return true;
            }
            return (amount.length <= 0 || amount < 0 || amount > 10000);

        }
    }
</script>