<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="/webjars/jquery/3.3.1-2/jquery.min.js"></script>
    <script src="js/script.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>환율 계산기</title>
</head>
<body class="ui grid" style="margin: 30px">

<div class="container-fluid">
    <div>
        <fieldset>

            <legend>환율 계산</legend>

            <div class="fromdiv">
                <label for="from"><b>송금 국가: </b></label>
                <select id="from" class="form-control" style="width: 450px">
                    <option selected value="USD">미국(USD)</option>
                </select>
            </div>

            <div class="todiv">
                <label for="to"><b>수취 국가: </b></label>
                <select id="to" class="form-control" style="width: 450px" onchange="getCurrencyRate()">
                    <option selected value="KRW">한국(KRW)</option>
                    <option value="JPY">일본(JPY)</option>
                    <option value="PHP">필리핀(PHP)</option>
                </select>
            </div>

            <div class="currencydiv">
                <label><b>환율</b></label>
                <div class="currencyfield">
                    <span id="currency"></span>
                </div>
            </div>

            <div class="input-group mb-3" style="width: 450px">
                <div class="input-group-prepend">
                    <span class="input-group-text">송금액</span>
                    <span class="input-group-text">USD</span>
                </div>
                <input type="text" id="amount" class="form-control" aria-label="Recipient's username"
                       aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button" onclick="getExchangedAmount()">환전</button>
                </div>
            </div>
            <div id="inputCheckResult">
            </div>

        </fieldset>
    </div>
</div>

</div>
</body>
<script>
    $('#amount').keypress(function (e) {
        if (e.which === 13) {
            getExchangedAmount();
        }
    });
</script>